body {
	width: auto;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgb(243, 239, 244);
	color: white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	
}

.wrapper {
	text-align: center;
}

header {
	height: 50px;
	width: auto;
	font-family: Arial, italic, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 32px;
	line-height: 50px;
	background-color:  #FBC3BC;
	color: white;
	margin:10px 0px 20px 0px;
}

nav {
	height: 50px;
	width: 100%;
	line-height: 50px;
	background-color: #FBC3BC;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color-adjust: white;
	margin-bottom: 20px;
}

.container {
	margin:10px, 0px, 0px, 0px;
	position: relative;
}

section {
	padding-top: 0px;
	background-color: #FBC3BC;
	height: 320px;
	width: 495px;
	position: relative;
	margin-right: 10px;
	

}



aside {
	padding-top: 40px;
	background-color: #FBC3BC;
	height: 320px;
	width:445px;
	float:right;
	position: absolute;
	right: 0px;
	top: 0px;
}

footer {
	height: auto;
	width: 100%;
	line-height: 50px;
	position:relative;
	bottom:0;
	left:0;
	background-color: #FBC3BC;
	margin-top: 20px;
}
.details {
background-color: rgb(243, 239, 244);
color: black;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}